**/.git
**/.DS_Store
**/node_modules

dist
*.egg-info
*.egg/
*.pyc
*.swp

__pycache__
node_modules
build
Dockerfile
.git
.gitignore
npm-debug.log
.dockerignore
.pytest_cache
.logs
.mypy_cache
.venv
.vscode
.coverage
.pre-commit-config.yaml
.pre-commit-hooks.yaml


doc
htmlcov
newsfragments
